/* .museo-100 {
  font-family: 'museo', serif;
  font-weight: 100;
  font-style: normal;
}
.museo-100-italic {
  font-family: 'museo', serif;
  font-weight: 100;
  font-style: italic;
}
.museo-300 {
  font-family: 'museo', serif;
  font-weight: 300;
  font-style: normal;
}
.museo-300-italic {
  font-family: 'museo', serif;
  font-weight: 300;
  font-style: italic;
}
.museo-500 {
  font-family: 'museo', serif;
  font-weight: 500;
  font-style: normal;
}
.museo-500-italic {
  font-family: 'museo', serif;
  font-weight: 500;
  font-style: italic;
}
.museo-700 {
  font-family: 'museo', serif;
  font-weight: 700;
  font-style: normal;
}
.museo-700-italic {
  font-family: 'museo', serif;
  font-weight: 700;
  font-style: italic;
}
.museo-900 {
  font-family: 'museo', serif;
  font-weight: 900;
  font-style: normal;
}
.museo-900-italic {
  font-family: 'museo', serif;
  font-weight: 900;
  font-style: italic;
}

.museo-100 {
  font-family: 'museo', serif;
  font-weight: 100;
  font-style: normal;
}
.museo-100-italic {
  font-family: 'museo', serif;
  font-weight: 100;
  font-style: italic;
}
.museo-300 {
  font-family: 'museo', serif;
  font-weight: 300;
  font-style: normal;
}
.museo-300-italic {
  font-family: 'museo', serif;
  font-weight: 300;
  font-style: italic;
}
.museo-500 {
  font-family: 'museo', serif;
  font-weight: 500;
  font-style: normal;
}
.museo-500-italic {
  font-family: 'museo', serif;
  font-weight: 500;
  font-style: italic;
}
.museo-700 {
  font-family: 'museo', serif;
  font-weight: 700;
  font-style: normal;
}
.museo-700-italic {
  font-family: 'museo', serif;
  font-weight: 700;
  font-style: italic;
}
.museo-900 {
  font-family: 'museo', serif;
  font-weight: 900;
  font-style: normal;
}
.museo-900-italic {
  font-family: 'museo', serif;
  font-weight: 900;
  font-style: italic;
}
.museo-1000 {
  font-family: 'museo', serif;
  font-weight: 1000;
  font-style: normal;
}
.museo-1000-italic {
  font-family: 'museo', serif;
  font-weight: 1000;
  font-style: italic;
}
.museo-100 {
  font-family: 'museo', serif;
  font-weight: 100;
  font-style: normal;
}
.museo-100-italic {
  font-family: 'museo', serif;
  font-weight: 100;
  font-style: italic;
}
.museo-300 {
  font-family: 'museo', serif;
  font-weight: 300;
  font-style: normal;
}
.museo-300-italic {
  font-family: 'museo', serif;
  font-weight: 300;
  font-style: italic;
}
.museo-500 {
  font-family: 'museo', serif;
  font-weight: 500;
  font-style: normal;
}
.museo-500-italic {
  font-family: 'museo', serif;
  font-weight: 500;
  font-style: italic;
}
.museo-700 {
  font-family: 'museo', serif;
  font-weight: 700;
  font-style: normal;
}
.museo-700-italic {
  font-family: 'museo', serif;
  font-weight: 700;
  font-style: italic;
}
.museo-900 {
  font-family: 'museo', serif;
  font-weight: 900;
  font-style: normal;
}
.museo-900-italic {
  font-family: 'museo', serif;
  font-weight: 900;
  font-style: italic;
}

.museo-slab-100 {
  font-family: 'museo-slab', serif;
  font-weight: 100;
  font-style: normal;
}
.museo-slab-100-italic {
  font-family: 'museo-slab', serif;
  font-weight: 100;
  font-style: italic;
}
.museo-slab-300 {
  font-family: 'museo-slab', serif;
  font-weight: 300;
  font-style: normal;
}
.museo-slab-300-italic {
  font-family: 'museo-slab', serif;
  font-weight: 300;
  font-style: italic;
}
.museo-slab-500 {
  font-family: 'museo-slab', serif;
  font-weight: 500;
  font-style: normal;
}
.museo-slab-500-italic {
  font-family: 'museo-slab', serif;
  font-weight: 500;
  font-style: italic;
}
.museo-slab-700 {
  font-family: 'museo-slab', serif;
  font-weight: 700;
  font-style: normal;
}
.museo-slab-700-italic {
  font-family: 'museo-slab', serif;
  font-weight: 700;
  font-style: italic;
}
.museo-slab-900 {
  font-family: 'museo-slab', serif;
  font-weight: 900;
  font-style: normal;
}
.museo-slab-900-italic {
  font-family: 'museo-slab', serif;
  font-weight: 900;
  font-style: italic;
}
.museo-slab-1000 {
  font-family: 'museo-slab', serif;
  font-weight: 1000;
  font-style: normal;
}
.museo-slab-1000-italic {
  font-family: 'museo-slab', serif;
  font-weight: 1000;
  font-style: italic;
}
.museo-slab-rounded-100 {
  font-family: 'museo-slab-rounded', sans-serif;
  font-weight: 100;
  font-style: normal;
}
.museo-slab-rounded-100-italic {
  font-family: 'museo-slab-rounded', sans-serif;
  font-weight: 100;
  font-style: italic;
}
.museo-slab-rounded-300 {
  font-family: 'museo-slab-rounded', sans-serif;
  font-weight: 300;
  font-style: normal;
}
.museo-slab-rounded-300-italic {
  font-family: 'museo-slab-rounded', sans-serif;
  font-weight: 300;
  font-style: italic;
}
.museo-slab-rounded-500 {
  font-family: 'museo-slab-rounded', sans-serif;
  font-weight: 500;
  font-style: normal;
}
.museo-slab-rounded-500-italic {
  font-family: 'museo-slab-rounded', sans-serif;
  font-weight: 500;
  font-style: italic;
}
.museo-slab-rounded-700 {
  font-family: 'museo-slab-rounded', sans-serif;
  font-weight: 700;
  font-style: normal;
}
.museo-slab-rounded-700-italic {
  font-family: 'museo-slab-rounded', sans-serif;
  font-weight: 700;
  font-style: italic;
}
.museo-slab-rounded-900 {
  font-family: 'museo-slab-rounded', sans-serif;
  font-weight: 900;
  font-style: normal;
}
.museo-slab-rounded-900-italic {
  font-family: 'museo-slab-rounded', sans-serif;
  font-weight: 900;
  font-style: italic;
}
.museo-slab-rounded-1000 {
  font-family: 'museo-slab-rounded', sans-serif;
  font-weight: 1000;
  font-style: normal;
}
.museo-slab-rounded-1000-italic {
  font-family: 'museo-slab-rounded', sans-serif;
  font-weight: 1000;
  font-style: italic;
} */

/*
 * The Typekit service used to deliver this font or fonts for use on websites
 * is provided by Adobe and is subject to these Terms of Use
 * http://www.adobe.com/products/eulas/tou_typekit. For font license
 * information, see the list below.
 *
 * museo:
 *   - http://typekit.com/eulas/00000000000000007735993f
 *   - http://typekit.com/eulas/000000000000000000011b23
 *   - http://typekit.com/eulas/000000000000000077359947
 *   - http://typekit.com/eulas/000000000000000000011b24
 *   - http://typekit.com/eulas/000000000000000077359958
 *   - http://typekit.com/eulas/00000000000000007735997d
 *   - http://typekit.com/eulas/000000000000000077359969
 *   - http://typekit.com/eulas/000000000000000077359952
 *   - http://typekit.com/eulas/000000000000000077359949
 *   - http://typekit.com/eulas/000000000000000077359967
 * museo-slab:
 *   - http://typekit.com/eulas/00000000000000000000ec0f
 *   - http://typekit.com/eulas/00000000000000000000ec05
 *   - http://typekit.com/eulas/0000000000000000000100fe
 *   - http://typekit.com/eulas/000000000000000000010141
 *   - http://typekit.com/eulas/000000000000000000012043
 *   - http://typekit.com/eulas/00000000000000000000ec08
 *   - http://typekit.com/eulas/000000000000000000011aff
 *   - http://typekit.com/eulas/00000000000000000000ec0a
 *   - http://typekit.com/eulas/00000000000000000000ec0d
 *   - http://typekit.com/eulas/00000000000000000000ec0e
 *   - http://typekit.com/eulas/00000000000000000000ec0b
 *   - http://typekit.com/eulas/00000000000000000000ec0c
 * museo-slab-rounded:
 *   - http://typekit.com/eulas/0000000000000000774a8fd6
 *   - http://typekit.com/eulas/0000000000000000774a8fd3
 *   - http://typekit.com/eulas/0000000000000000774a8fd7
 *   - http://typekit.com/eulas/0000000000000000774a8fd5
 *   - http://typekit.com/eulas/0000000000000000774a8fd9
 *   - http://typekit.com/eulas/0000000000000000774a8fd0
 *   - http://typekit.com/eulas/0000000000000000774a8fd1
 *   - http://typekit.com/eulas/0000000000000000774a8fd8
 *   - http://typekit.com/eulas/0000000000000000774a8fce
 *   - http://typekit.com/eulas/0000000000000000774a8fd4
 *   - http://typekit.com/eulas/0000000000000000774a8fcf
 *   - http://typekit.com/eulas/0000000000000000774a8fd2
 *
 * © 2009-2024 Adobe Systems Incorporated. All Rights Reserved.
 */
/*{"last_published":"2024-07-29 19:17:58 UTC"}*/

@import url('https://p.typekit.net/p.css?s=1&k=muw0xyx&ht=tk&f=1980.1981.1982.1983.1984.8541.8542.8543.8544.8545.2026.2027.2028.2029.2030.2031.2032.2033.2034.2035.2036.2037.52855.52856.52857.52858.52859.52860.52861.52862.52863.52864.52865.52866&a=26280326&app=typekit&e=css');

@font-face {
  font-family: 'museo';
  src: url('https://use.typekit.net/af/38974e/00000000000000007735993f/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n1&v=3')
      format('woff2'),
    url('https://use.typekit.net/af/38974e/00000000000000007735993f/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n1&v=3')
      format('woff'),
    url('https://use.typekit.net/af/38974e/00000000000000007735993f/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n1&v=3')
      format('opentype');
  font-display: auto;
  font-style: normal;
  font-weight: 100;
  font-stretch: normal;
}

@font-face {
  font-family: 'museo';
  src: url('https://use.typekit.net/af/f7c91f/000000000000000000011b23/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3')
      format('woff2'),
    url('https://use.typekit.net/af/f7c91f/000000000000000000011b23/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3')
      format('woff'),
    url('https://use.typekit.net/af/f7c91f/000000000000000000011b23/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3')
      format('opentype');
  font-display: auto;
  font-style: normal;
  font-weight: 300;
  font-stretch: normal;
}

@font-face {
  font-family: 'museo';
  src: url('https://use.typekit.net/af/d23205/000000000000000077359947/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3')
      format('woff2'),
    url('https://use.typekit.net/af/d23205/000000000000000077359947/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3')
      format('woff'),
    url('https://use.typekit.net/af/d23205/000000000000000077359947/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3')
      format('opentype');
  font-display: auto;
  font-style: normal;
  font-weight: 500;
  font-stretch: normal;
}

@font-face {
  font-family: 'museo';
  src: url('https://use.typekit.net/af/8a79e7/000000000000000000011b24/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3')
      format('woff2'),
    url('https://use.typekit.net/af/8a79e7/000000000000000000011b24/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3')
      format('woff'),
    url('https://use.typekit.net/af/8a79e7/000000000000000000011b24/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3')
      format('opentype');
  font-display: auto;
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
}

@font-face {
  font-family: 'museo';
  src: url('https://use.typekit.net/af/12040f/000000000000000077359958/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n9&v=3')
      format('woff2'),
    url('https://use.typekit.net/af/12040f/000000000000000077359958/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n9&v=3')
      format('woff'),
    url('https://use.typekit.net/af/12040f/000000000000000077359958/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n9&v=3')
      format('opentype');
  font-display: auto;
  font-style: normal;
  font-weight: 900;
  font-stretch: normal;
}

@font-face {
  font-family: 'museo';
  src: url('https://use.typekit.net/af/088ff9/00000000000000007735997d/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i1&v=3')
      format('woff2'),
    url('https://use.typekit.net/af/088ff9/00000000000000007735997d/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i1&v=3')
      format('woff'),
    url('https://use.typekit.net/af/088ff9/00000000000000007735997d/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i1&v=3')
      format('opentype');
  font-display: auto;
  font-style: italic;
  font-weight: 100;
  font-stretch: normal;
}

@font-face {
  font-family: 'museo';
  src: url('https://use.typekit.net/af/64e458/000000000000000077359969/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i3&v=3')
      format('woff2'),
    url('https://use.typekit.net/af/64e458/000000000000000077359969/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i3&v=3')
      format('woff'),
    url('https://use.typekit.net/af/64e458/000000000000000077359969/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i3&v=3')
      format('opentype');
  font-display: auto;
  font-style: italic;
  font-weight: 300;
  font-stretch: normal;
}

@font-face {
  font-family: 'museo';
  src: url('https://use.typekit.net/af/2dc4e0/000000000000000077359952/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i5&v=3')
      format('woff2'),
    url('https://use.typekit.net/af/2dc4e0/000000000000000077359952/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i5&v=3')
      format('woff'),
    url('https://use.typekit.net/af/2dc4e0/000000000000000077359952/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i5&v=3')
      format('opentype');
  font-display: auto;
  font-style: italic;
  font-weight: 500;
  font-stretch: normal;
}

@font-face {
  font-family: 'museo';
  src: url('https://use.typekit.net/af/3e30bd/000000000000000077359949/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3')
      format('woff2'),
    url('https://use.typekit.net/af/3e30bd/000000000000000077359949/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3')
      format('woff'),
    url('https://use.typekit.net/af/3e30bd/000000000000000077359949/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3')
      format('opentype');
  font-display: auto;
  font-style: italic;
  font-weight: 700;
  font-stretch: normal;
}

@font-face {
  font-family: 'museo';
  src: url('https://use.typekit.net/af/eaeb90/000000000000000077359967/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i9&v=3')
      format('woff2'),
    url('https://use.typekit.net/af/eaeb90/000000000000000077359967/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i9&v=3')
      format('woff'),
    url('https://use.typekit.net/af/eaeb90/000000000000000077359967/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i9&v=3')
      format('opentype');
  font-display: auto;
  font-style: italic;
  font-weight: 900;
  font-stretch: normal;
}

@font-face {
  font-family: 'museo-slab';
  src: url('https://use.typekit.net/af/b230ac/00000000000000000000ec0f/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n1&v=3')
      format('woff2'),
    url('https://use.typekit.net/af/b230ac/00000000000000000000ec0f/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n1&v=3')
      format('woff'),
    url('https://use.typekit.net/af/b230ac/00000000000000000000ec0f/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n1&v=3')
      format('opentype');
  font-display: auto;
  font-style: normal;
  font-weight: 100;
  font-stretch: normal;
}

@font-face {
  font-family: 'museo-slab';
  src: url('https://use.typekit.net/af/2e949c/00000000000000000000ec05/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i1&v=3')
      format('woff2'),
    url('https://use.typekit.net/af/2e949c/00000000000000000000ec05/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i1&v=3')
      format('woff'),
    url('https://use.typekit.net/af/2e949c/00000000000000000000ec05/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i1&v=3')
      format('opentype');
  font-display: auto;
  font-style: italic;
  font-weight: 100;
  font-stretch: normal;
}

@font-face {
  font-family: 'museo-slab';
  src: url('https://use.typekit.net/af/53dec0/0000000000000000000100fe/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3')
      format('woff2'),
    url('https://use.typekit.net/af/53dec0/0000000000000000000100fe/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3')
      format('woff'),
    url('https://use.typekit.net/af/53dec0/0000000000000000000100fe/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3')
      format('opentype');
  font-display: auto;
  font-style: normal;
  font-weight: 300;
  font-stretch: normal;
}

@font-face {
  font-family: 'museo-slab';
  src: url('https://use.typekit.net/af/ea0e14/000000000000000000010141/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i3&v=3')
      format('woff2'),
    url('https://use.typekit.net/af/ea0e14/000000000000000000010141/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i3&v=3')
      format('woff'),
    url('https://use.typekit.net/af/ea0e14/000000000000000000010141/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i3&v=3')
      format('opentype');
  font-display: auto;
  font-style: italic;
  font-weight: 300;
  font-stretch: normal;
}

@font-face {
  font-family: 'museo-slab';
  src: url('https://use.typekit.net/af/aa4f4e/000000000000000000012043/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3')
      format('woff2'),
    url('https://use.typekit.net/af/aa4f4e/000000000000000000012043/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3')
      format('woff'),
    url('https://use.typekit.net/af/aa4f4e/000000000000000000012043/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3')
      format('opentype');
  font-display: auto;
  font-style: normal;
  font-weight: 500;
  font-stretch: normal;
}

@font-face {
  font-family: 'museo-slab';
  src: url('https://use.typekit.net/af/f1892e/00000000000000000000ec08/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i5&v=3')
      format('woff2'),
    url('https://use.typekit.net/af/f1892e/00000000000000000000ec08/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i5&v=3')
      format('woff'),
    url('https://use.typekit.net/af/f1892e/00000000000000000000ec08/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i5&v=3')
      format('opentype');
  font-display: auto;
  font-style: italic;
  font-weight: 500;
  font-stretch: normal;
}

@font-face {
  font-family: 'museo-slab';
  src: url('https://use.typekit.net/af/c225e2/000000000000000000011aff/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3')
      format('woff2'),
    url('https://use.typekit.net/af/c225e2/000000000000000000011aff/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3')
      format('woff'),
    url('https://use.typekit.net/af/c225e2/000000000000000000011aff/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3')
      format('opentype');
  font-display: auto;
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
}

@font-face {
  font-family: 'museo-slab';
  src: url('https://use.typekit.net/af/696cdf/00000000000000000000ec0a/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3')
      format('woff2'),
    url('https://use.typekit.net/af/696cdf/00000000000000000000ec0a/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3')
      format('woff'),
    url('https://use.typekit.net/af/696cdf/00000000000000000000ec0a/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3')
      format('opentype');
  font-display: auto;
  font-style: italic;
  font-weight: 700;
  font-stretch: normal;
}

@font-face {
  font-family: 'museo-slab';
  src: url('https://use.typekit.net/af/bf4171/00000000000000000000ec0d/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n9&v=3')
      format('woff2'),
    url('https://use.typekit.net/af/bf4171/00000000000000000000ec0d/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n9&v=3')
      format('woff'),
    url('https://use.typekit.net/af/bf4171/00000000000000000000ec0d/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n9&v=3')
      format('opentype');
  font-display: auto;
  font-style: normal;
  font-weight: 900;
  font-stretch: normal;
}

@font-face {
  font-family: 'museo-slab';
  src: url('https://use.typekit.net/af/b8a757/00000000000000000000ec0e/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i9&v=3')
      format('woff2'),
    url('https://use.typekit.net/af/b8a757/00000000000000000000ec0e/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i9&v=3')
      format('woff'),
    url('https://use.typekit.net/af/b8a757/00000000000000000000ec0e/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i9&v=3')
      format('opentype');
  font-display: auto;
  font-style: italic;
  font-weight: 900;
  font-stretch: normal;
}

@font-face {
  font-family: 'museo-slab';
  src: url('https://use.typekit.net/af/a09522/00000000000000000000ec0b/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n8&v=3')
      format('woff2'),
    url('https://use.typekit.net/af/a09522/00000000000000000000ec0b/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n8&v=3')
      format('woff'),
    url('https://use.typekit.net/af/a09522/00000000000000000000ec0b/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n8&v=3')
      format('opentype');
  font-display: auto;
  font-style: normal;
  font-weight: 800;
  font-stretch: normal;
}

@font-face {
  font-family: 'museo-slab';
  src: url('https://use.typekit.net/af/1d2651/00000000000000000000ec0c/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i8&v=3')
      format('woff2'),
    url('https://use.typekit.net/af/1d2651/00000000000000000000ec0c/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i8&v=3')
      format('woff'),
    url('https://use.typekit.net/af/1d2651/00000000000000000000ec0c/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i8&v=3')
      format('opentype');
  font-display: auto;
  font-style: italic;
  font-weight: 800;
  font-stretch: normal;
}

@font-face {
  font-family: 'museo-slab-rounded';
  src: url('https://use.typekit.net/af/7bc749/0000000000000000774a8fd6/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i5&v=3')
      format('woff2'),
    url('https://use.typekit.net/af/7bc749/0000000000000000774a8fd6/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i5&v=3')
      format('woff'),
    url('https://use.typekit.net/af/7bc749/0000000000000000774a8fd6/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i5&v=3')
      format('opentype');
  font-display: auto;
  font-style: italic;
  font-weight: 500;
  font-stretch: normal;
}

@font-face {
  font-family: 'museo-slab-rounded';
  src: url('https://use.typekit.net/af/32ebec/0000000000000000774a8fd3/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i3&v=3')
      format('woff2'),
    url('https://use.typekit.net/af/32ebec/0000000000000000774a8fd3/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i3&v=3')
      format('woff'),
    url('https://use.typekit.net/af/32ebec/0000000000000000774a8fd3/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i3&v=3')
      format('opentype');
  font-display: auto;
  font-style: italic;
  font-weight: 300;
  font-stretch: normal;
}

@font-face {
  font-family: 'museo-slab-rounded';
  src: url('https://use.typekit.net/af/7b8fd9/0000000000000000774a8fd7/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i9&v=3')
      format('woff2'),
    url('https://use.typekit.net/af/7b8fd9/0000000000000000774a8fd7/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i9&v=3')
      format('woff'),
    url('https://use.typekit.net/af/7b8fd9/0000000000000000774a8fd7/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i9&v=3')
      format('opentype');
  font-display: auto;
  font-style: italic;
  font-weight: 900;
  font-stretch: normal;
}

@font-face {
  font-family: 'museo-slab-rounded';
  src: url('https://use.typekit.net/af/2c92b5/0000000000000000774a8fd5/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3')
      format('woff2'),
    url('https://use.typekit.net/af/2c92b5/0000000000000000774a8fd5/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3')
      format('woff'),
    url('https://use.typekit.net/af/2c92b5/0000000000000000774a8fd5/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3')
      format('opentype');
  font-display: auto;
  font-style: normal;
  font-weight: 500;
  font-stretch: normal;
}

@font-face {
  font-family: 'museo-slab-rounded';
  src: url('https://use.typekit.net/af/2d9845/0000000000000000774a8fd9/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i8&v=3')
      format('woff2'),
    url('https://use.typekit.net/af/2d9845/0000000000000000774a8fd9/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i8&v=3')
      format('woff'),
    url('https://use.typekit.net/af/2d9845/0000000000000000774a8fd9/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i8&v=3')
      format('opentype');
  font-display: auto;
  font-style: italic;
  font-weight: 800;
  font-stretch: normal;
}

@font-face {
  font-family: 'museo-slab-rounded';
  src: url('https://use.typekit.net/af/6212cf/0000000000000000774a8fd0/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i1&v=3')
      format('woff2'),
    url('https://use.typekit.net/af/6212cf/0000000000000000774a8fd0/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i1&v=3')
      format('woff'),
    url('https://use.typekit.net/af/6212cf/0000000000000000774a8fd0/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i1&v=3')
      format('opentype');
  font-display: auto;
  font-style: italic;
  font-weight: 100;
  font-stretch: normal;
}

@font-face {
  font-family: 'museo-slab-rounded';
  src: url('https://use.typekit.net/af/0eb2e3/0000000000000000774a8fd1/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n1&v=3')
      format('woff2'),
    url('https://use.typekit.net/af/0eb2e3/0000000000000000774a8fd1/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n1&v=3')
      format('woff'),
    url('https://use.typekit.net/af/0eb2e3/0000000000000000774a8fd1/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n1&v=3')
      format('opentype');
  font-display: auto;
  font-style: normal;
  font-weight: 100;
  font-stretch: normal;
}

@font-face {
  font-family: 'museo-slab-rounded';
  src: url('https://use.typekit.net/af/278cab/0000000000000000774a8fd8/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n9&v=3')
      format('woff2'),
    url('https://use.typekit.net/af/278cab/0000000000000000774a8fd8/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n9&v=3')
      format('woff'),
    url('https://use.typekit.net/af/278cab/0000000000000000774a8fd8/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n9&v=3')
      format('opentype');
  font-display: auto;
  font-style: normal;
  font-weight: 900;
  font-stretch: normal;
}

@font-face {
  font-family: 'museo-slab-rounded';
  src: url('https://use.typekit.net/af/2056b8/0000000000000000774a8fce/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3')
      format('woff2'),
    url('https://use.typekit.net/af/2056b8/0000000000000000774a8fce/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3')
      format('woff'),
    url('https://use.typekit.net/af/2056b8/0000000000000000774a8fce/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3')
      format('opentype');
  font-display: auto;
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
}

@font-face {
  font-family: 'museo-slab-rounded';
  src: url('https://use.typekit.net/af/445722/0000000000000000774a8fd4/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3')
      format('woff2'),
    url('https://use.typekit.net/af/445722/0000000000000000774a8fd4/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3')
      format('woff'),
    url('https://use.typekit.net/af/445722/0000000000000000774a8fd4/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3')
      format('opentype');
  font-display: auto;
  font-style: italic;
  font-weight: 700;
  font-stretch: normal;
}

@font-face {
  font-family: 'museo-slab-rounded';
  src: url('https://use.typekit.net/af/73d228/0000000000000000774a8fcf/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n8&v=3')
      format('woff2'),
    url('https://use.typekit.net/af/73d228/0000000000000000774a8fcf/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n8&v=3')
      format('woff'),
    url('https://use.typekit.net/af/73d228/0000000000000000774a8fcf/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n8&v=3')
      format('opentype');
  font-display: auto;
  font-style: normal;
  font-stretch: normal;
  font-weight: 800;
}

@font-face {
  font-family: 'museo-slab-rounded';
  src: url('https://use.typekit.net/af/c5e1fa/0000000000000000774a8fd2/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3')
      format('woff2'),
    url('https://use.typekit.net/af/c5e1fa/0000000000000000774a8fd2/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3')
      format('woff'),
    url('https://use.typekit.net/af/c5e1fa/0000000000000000774a8fd2/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3')
      format('opentype');
  font-display: auto;
  font-style: normal;
  font-weight: 300;
  font-stretch: normal;
}

.tk-museo {
  font-family: 'museo', serif;
}
.tk-museo-slab {
  font-family: 'museo-slab', serif;
}
.tk-museo-slab-rounded {
  font-family: 'museo-slab-rounded', sans-serif;
}
